@import url(https://fonts.googleapis.com/css?family=Alegreya&display=swap);

body {
  font-family: Alegreya, serif;
  background: linear-gradient(90deg, #000 0%, #c7ae1d 100%);
}

p {
  color: aquamarine;
}
.nav-link {
  color: rgb(223, 54, 54);
}
.navbar-nav .nav-link.active {
  color: white;
}
.logo {
  width: 38px;
}
.navbar-toggler {
  background-color: gray;
}
.side-bar {
  color: rgb(45, 45, 74);
  background: linear-gradient(270deg, #333232 0%, #c7ae1d 100%);
}
.card {
  background: linear-gradient(270deg, #333232 0%, #c7ae1d 100%);
  color: rgb(45, 45, 74);
}
.card a {
  text-decoration: none;
  color: rgb(45, 45, 74);
}
.notes,
.footer-text {
  color: rgb(23, 87, 127);
  margin: auto auto;
}
footer {
  background: linear-gradient(90deg, #333232 0%, #c7ae1d 100%);
}

.btn {
  background: linear-gradient(90deg, #333232 0%, #c7ae1d 100%);
}
.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-ani {
  animation: myAnim 2s ease 0s infinite alternate both;
}

@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
} ;
